#
# Dexter Toolkit - .gitignore
# Mantém apenas os arquivos essenciais do projeto no controle de versão.
#

# Ignora tudo por padrão
*

# Excetua os arquivos essenciais
# Permite arquivos essenciais
!.gitignore
!README.md
!dexter.sh
!build-docker.sh
!docker-compose.yml
!docker-entrypoint.sh
!Dockerfile
!ADDING_TOOLS.md
!pleasework.txt

# Ignora o venv (criado automaticamente)
.venv/

